<div class = "col-xs-1"></div>
<div class = "col-xs-10">
  <p class = "caption"><font class= "caption-font">登録情報編集</font></p>
  <%= form_with model: @user do |f| %>
    <table class= "table table-hover table-inverse">
      <tbody>
        <tr>
          <td>名前</td>
          <td><font>(姓)</font><%= f.text_field :last_name, autofocus: true %></td>
          <td><font>(名)</font><%= f.text_field :first_name, autofocus: true %></td>
        </tr>
        <tr>
          <td>フリガナ</td>
          <td><font>(セイ)</font><%= f.text_field :kana_last_name, autofocus: true %></td>
          <td><font>(メイ)</font><%= f.text_field :kana_first_name, autofocus: true %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
          <td></td>
        </tr>
        <tr>
          <td>郵便番号(ハイフンなし)</td>
          <td><%= f.text_field :postal_code, autofocus: true %></td>
          <td></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= f.text_field :address, autofocus: true %></td>
          <td></td>
        </tr>
        <tr>
          <td>電話番号(ハイフンなし)</td>
          <td><%= f.text_field :phone_number, autofocus: true %></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <div class= "actions">
      <%= f.submit "編集内容を保存する", class: "button" %>
      <%= link_to "退会する", unsubscribe_end_users_path, class: "withdraw-button" %>
    </div>
  <% end %>
</div>
<div class = "col-xs-1"></div>