<div class="col-xs-2"></div>
<div class="col-xs-10">
	<p class = "caption"><font class = "caption-font">商品詳細</font></p>
    <div class ="row">
    	<div class="field col-xs-6">
    		<%= attachment_image_tag @item, :image,format: 'jpeg', fallback: "no_image.jpg",size: "300x200"  %>
        </div>
        <div class="col-xs-6">
        		<p class="name"><%= @item.name %></p>
        		<p class="description"><%= @item.description %></p>
        	<div class="item_price">
        		<font class="yen">¥</font>
        		<font class="yen"><%= (@item.price_excluding_price*1.1).to_int%></font> (税込)
        	</div>
            <%= form_with model:[@cart_item] do |f| %>
                <div class="cart_items_form row">
                    <%= f.select :amount,[["１", 1], ["２", 2],["3", 3], ["4", 4],["5", 5], ["6", 6],["7", 7], ["8", 8],["9", 9], ["10", 10]],{include_blank: '個数選択'}, {class:" amount-select col-xs-5"} %>
                    <% if end_user_signed_in? %>
                        <%= f.hidden_field :end_user_id, value: current_end_user.id %>
                    <% end %>
                    <%= f.hidden_field :item_id, value: @item.id%>
                    <%= f.submit "カートに入れる" ,class:" cart-button button col-xs-5" %>
                </div>
            <% end %>
        </div>
    </div>
</div>
